<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<div class="bg-white py-6 sm:py-0">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid gap-8 sm:grid-cols-2 sm:gap-12">
      <!-- image - start -->
      <div class="h-80 overflow-hidden rounded-lg bg-gray-100 shadow-lg sm:rounded-none sm:shadow-none md:h-auto">
        <img src="https://media.meer.com/attachments/cdb27d3108254e002f52fe940ae3c1b6a0b94fed/store/fill/1090/613/4d7e27ed84b2fe56d40d0b8cc0cfa3524302c9e4fb999377116219bfc6ee/Sabarmati-riverfront.jpg" loading="lazy" alt="Photo by Jeremy Cai" class="h-full w-full object-cover object-center" />
      </div>
      <!-- image - end -->

      <!-- content - start -->
      <div class="flex flex-col items-center justify-center sm:items-start md:py-24 lg:py-32 xl:py-64">
        <p class="mb-4 text-sm font-semibold uppercase text-indigo-500 md:text-base">Error 404</p>
        <h1 class="mb-2 text-center text-2xl font-bold text-gray-800 sm:text-left md:text-3xl">Page not found</h1>

        <p class="mb-8 text-center text-gray-500 sm:text-left md:text-lg">The page you’re looking for doesn’t exist.</p>

        <a href="#" class="inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">Go home</a>
      </div>
      <!-- content - end -->
    </div>
  </div>
</div>